html{
    background-color: #e5e5e5;
    opacity: 1;
    background: radial-gradient(circle, transparent 20%, #e5e5e5 20%, #e5e5e5 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #e5e5e5 20%, #e5e5e5 80%, transparent 80%, transparent) 37.5px 37.5px, linear-gradient(#c26dde 3px, transparent 3px) 0 -1.5px, linear-gradient(90deg, #c26dde 3px, #e5e5e5 3px) -1.5px 0;
    background-size: 75px 75px, 75px 75px, 37.5px 37.5px, 37.5px 37.5px;
}
body{
    width: 80%;
    margin: 0 auto;
}
/*body{*/
/*    background-color:black;*/
/*    width: 80%;*/
/*    margin: 0 auto;*/
/*}*/
.nav-navigation{
    display: flex;
    background-color:white;
    padding: 1px;
    border-radius: 25px;
    margin: 0px 5px 25px 5px;
}
nav ul{
    display: flex;
}
nav li{
    display: flex;
    flex:1;
    margin: 0px 50px 0px 0px;
    text-align: center;
    font-size: 30px;
}

main {
    display:flex;
    flex-wrap: wrap;
    margin: 0px 10px 25px 10px;
    padding: 0px 0px auto 0px;
    display:flex;
    background-color:darkgrey;
    border-radius: 15px;
}

.main-catalog-thing{
    display:flex;
    padding: 0px 0px 434.66px 215px;
    margin: 20px 5px 20px 10px;
    background-color:rebeccapurple;
    border-radius:20px;

}

.nav-footer{
    display: flex;
    background-color:darkgrey;
    border-radius:15px;
    padding: 10px 10px 10px 20px;
}
